---
layout: default
title: Gesundheit
---
{% include leaves.svg id="leaves" %}
<div class="section light">
  <div class="section-title">
    <h2>Gesundheitsprojekte in Bea Nehas, Diak Lay und Dea Beq</h2>
  </div>
  <div class="section-content">
    <p>In Ost-Kalimantan unterstützen wir u.a. drei Dorfgemeinschaften: Bea Nehas, Diak Lay und Dea Beq mit je 500 bis 1000 Einwohnern. Die Dörfer liegen zwischen der Bezirksstadt Muara Wahau und dem BOSF Auswilderungsgebiet Kehje Sewen (KJ7) und verfügen allesamt über mangelhaft ausgestattete Gesundheitseinrichtungen. Es fehlt nicht nur an gut ausgebildetem Personal, sondern auch an einer zuverlässigen Stromversorgung, Kühlschränken (für die Medikamente) und medizinischem Gerät. Informationen über die gesundheitliche Situation in den Dörfern sind nur begrenzt verfügbar und langsame bürokratische Verfahren machen das System ineffizient. </p>
    <p>BOS Schweiz ist deshalb bestrebt, eine zentral gelegene, vergleichsweise hochwertig ausgestattete Gesundheitsstation aufzubauen, die eine anspruchsvollere Versorgung und Prävention leisten kann. Ergänzend würden wir in jedem Dorf ein kleineres Gesundheitszentrum einrichten. Dadurch soll vor allem die medizinische Grundversorgung von Schwangeren, Müttern, Babys und Kleinkindern verbessert werden. Alle Einrichtungen sollen über ausreichend geschultes Personal verfügen, sodass Patientendaten in Zukunft systematisch erfasst und ausgewertet werden können.  </p>
    <div class="graphic"><img src="../assets/images/medical.jpg" alt="Baby-wage"/></div>
    <p>Ein besonderes Gesundheitsrisiko stellen in allen drei Dörfern der herumliegende Müll und Wasserpfützen dar. Letztere sind ideale Brutstätten für Moskitos, was Denguefieber zu einem wesentlichen Gesundheitsproblem macht. Massnahmen zur Trennung des Mülls (der Aufbau einer „Abfall-Bank“) sollen hier Abhilfe verschaffen. Gleichzeitig wird die Bevölkerung so für den Umweltschutz sensibilisiert und kann ein zusätzliches Einkommen generieren: Anstatt in der Umwelt entsorgt wird der produzierte Müll gesammelt und sortiert. BOSF/RHOI unterstützt die Gemeinschaften dabei, die recycelbaren Grundstoffe zum bestmöglichen Preis an Müllhändler zu verkaufen. </p>
    <p>Ebenfalls ein Gesundheitsrisiko stellen freilaufende Tiere (wie Rinder, Schweine, oder Hühner) dar, deren Dung für die bewirtschafteten Felder genutzt wird. BOS Schweiz hat deshalb die Entwicklung eines ökonomisch vorteilhaften, gesundheitlich unbedenklichen und zugleich tierfreundlichen Modells angeregt, bei dem die Tiere in eingezäunten Gehegen gehalten und leicht versorgt werden können. </p>
  </div>
  <div class="section-title">
    <h2>Gesundheitsprojekte in Pelangsiran</h2>
  </div>
  <div class="section-content">
    <p>Ebenfalls in Ost-Kalimantan und im Gesundheitsbereich unterstützen wir die Bewohner einer kleinen Transitstation, die innerhalb von KJ7 liegt und damit in die Zuständigkeit von BOSF/RHOI fällt. Pelangsiran dient Wanderarbeitern aus anderen Regionen des Landes als Versorgungsstation. Sie transportieren Waren von Muara Wahau nach Pelangsiran und bleiben i.d.R. nur für Tage bis Wochen. Die Zahl der permanenten und temporären Einwohner liegt bei nur 23 (12 Träger, 5 Fahrer, 5 Ehefrauen, 1 Kind). RHOI verfügt über eine Unterkunft in Pelangsiran für die eigenen Mitarbeiter, wovon die kleinen Läden profitieren. Ausserdem ist RHOI ein wichtiger Arbeitgeber für die Station, da Träger und Fahrer häufig für Aktivitäten in KJ7 benötigt werden. Die gute Beziehung zu den Leuten in Pelangsiran ist die Grundlage für die Zusammenarbeit und das Miteinander. </p>
    <div class="graphic"><img src="../assets/images/posters.jpg" alt="Medical Posters"/></div>
    <p>Erneut sind der Umweltschutz und die Gesundheit der lokalen Bevölkerung eng miteinander verknüpft. Abfall und Fäkalien vergiften die Umgebung und das Flusswasser. Als einzige Frischwasserquelle dient ein kleiner, nahe gelegener Wasserfall, die einzige Gemeinschaftsdusche und die zwei öffentlichen Toiletten sind in einem schlechten Zustand. Es fehlen eine Abwasserableitung, eine Überdachung, eine Tür, und stabile Wände. Ein Teil des Abwassers gelangt direkt in den nahe gelegenen Fluss, Müll wird auf den Boden am Rand der Station entsorgt, und frisches Gemüse für eine gesunde Ernährung ist Mangelware. </p>
    <p>Wir arbeiten deshalb an einer direkten Wasserleitung zur Station, sanieren und renovieren die öffentliche Dusche und WCs, tragen die Kosten für die Errichtung eines septischen Tanks zur Neutralisierung des Abwassers,  trainieren und schaffen ein Bewusstsein für das Sammeln und Trennen von Müll und den Zusammenhang zwischen Umweltverschmutzung und Gesundheit, wir stellen die Materialien für den Bau von Müllcontainern bereit, und finanzieren einen Gemüsegarten mit  Baumschule. Letztere soll Fruchtbaumsetzlinge liefern, die in KJ7 angepflanzt werden. </p><a href="/">
      <button class="bos-button large info float-left space-left">&laquo; zurück</button></a>
  </div>
</div>
<div class="svg light">
  {% include leaves.svg id="" %}
</div>
{% include down %}
{% include menu %}
