---
layout: default
title: BOS-Schweiz
---

{% include leaves.svg id="leaves" %}
<div class="section js-current-panel" id="titleblock">
  <div class="section-title">
    <h1 class="text-center">Nachhaltige Entwicklung</h1>
  </div>
  <div class="section-content"><img class="hero" src="assets/images/woman-field-lighter.jpg" />
    <div class="floating-textbox">
      <h3><span class="question">Armut und Orang-Utan Schutz: Was hat das miteinander zu tun? </span><br/><span class="answer">Viel, denn Unterentwicklung und Ausgrenzung sind wichtige Gründe für Wilderei und Raubbau an der Natur.</span></h3>
    </div>
    <p></p>
    <p class="lead">Deshalb führt Borneo Orangutan Survival (BOS) in enger Zusammenarbeit mit den dörflichen Gemeinschaften nahe den Schutzgebieten Projekte in den Bereichen Einkommen, Gesundheit und Bildung durch. Damit leisten wir einen wichtigen Beitrag zur menschlichen
      Entwicklung marginalisierter Gruppen <strong>und </strong>zum Artenschutz in Zentral- und in Ostkalimantan.</p>
    <div class="graphic">
      <h4 class="text-center">Verortung der Projekte</h4><img src="assets/images/indonesia.svg" /><img class="outlined-black" src="assets/images/east_kalimantan.svg" />
    </div>
    <p class="lead">Unsere Projekte in Zentralkalimantan konzentrieren sich auf die Mawas Region, ein 3‘774 km2 grosses und geschütztes Waldgebiet. Am Rande des Schutzgebietes leben rund 29‘000 Haushalte in 53 Dörfern, die teils schwer zugänglich und vergleichsweise
      arm sind - ein fruchtbarer Boden für illegale Aktivitäten wie Brandrodung, Wilderei, Holzeinschlag oder das Schürfen von Gold. Lokale „Kredithaie“, die Geld zu überteuerten Konditionen verleihen, kommen hier genauso auf ihre Kosten, wie Ölpalmplantagen.
      Land wird ihnen oft billig angeboten und günstige Arbeitskräfte stehen ausreichend zur Verfügung.</p>
    <a href="mawas.html">
      <button class="bos-button large info float-right space-left">mehr erfahren &raquo;</button>
    </a>
    <p class="lead">Um illegale Aktivitäten zu bekämpfen und der ansässigen Bevölkerung einen Ausweg aus der Armut jenseits der Ölpalmplantagen zu bieten, vergeben wir Mikrokredite. Damit fördern wir Initiativen der lokalen Bevölkerung zur Verbesserung ihrer Einkommenssituation.
      Unser Ziel ist die Schaffung von alternativen, nachhaltigen und umweltverträglichen Einnahmequellen. Ausserdem führen wir in der Mawas Region Gesundheits- und Bildungsprojekte durch.</p>
    <p class="lead">Unsere Projekte zur nachhaltigen Entwicklung in Ost-Kalimantan befinden sich in unmittelbarer Nähe zum Kehje Sewen Forest – dem Auswilderungsgebiet der Rettungsstation Samboja Lestari.</p>
    <p class="lead">Drei Dorfgemeinschaften zwischen der Bezirksstadt Muara Wahau und dem Auswilderungsgebiet der BOS Stiftung (BOSF) arbeiten gemeinsam mit dem Feldteam von BOSF/RHOI und einer beratenden indonesischen Nichtregierungsorganisation (LPMK) an der Verbesserung
      traditioneller und der Schaffung neuer, nachhaltiger Einkommensquellen, einer besseren medizinischen Versorgung, der Erweiterung der Schulbildung und der Sensibilisierung für den Natur- und Orang-Utan-Schutz. Speziell Frauen soll mithilfe von Kleinkrediten
      zu mehr Einfluss in den Gemeinschaften, Eigenständigkeit und Selbstvertrauen verholfen werden. </p>
    <div class="graphic"><img src="assets/images/bathing.jpg" /></div>
    <p class="lead">Eine Transitstation innerhalb der Grenze von Kehje Sewen unterstützen wir bei der Verbesserung ihrer Frischwasserversorgung, der Sanierung und Renovierung sanitärer Einrichtungen, der Einführung eines Abfallentsorgungs- bzw. Mülltrennungssystems und
      dem Aufbau eines gemeinschaftlichen Gemüsegartens mit Baumschule. </p>
  </div>
</div>
<div class="svg light">
  {% include leaves.svg id="" %}
</div>



<div class="section dark">
  <div class="section-title">
    <h2>Einkommensgenerierung: Hilfe zur Selbsthilfe</h2>
  </div>
  <div class="section-content">
    <p class="lead">Mit Mikrokrediten finanzieren wir die Herstellung, Veredelung und Vermarktung von Gütern, die entweder auf herkömmlichen Produktionsmethoden beruhen (wie z.B. traditionelle Fischfangmethoden, die ansässige Rattan- oder Kautschukproduktion) oder Initiativen,
      die neue Einkommensmöglichkeiten bieten (z.B. die Eröffnung von kleinen Kiosken oder Copy Shops).</p>
    <div class="graphic"><img src="assets/images/shop.jpg" /></div>
    <p class="lead">Traditionelle Kunsthandwerks- und Anbaumethoden sollen so erhalten und neue Kompetenzen erworben werden, die es der lokalen Bevölkerung erlauben, für sich und ihre Familien ein sicheres und umweltverträgliches Einkommen zu generieren.</p>
    <p class="lead">Marginalisierte indigene Gruppen, die dem Regenwald häufig viel Wertschätzung entgegen bringen, werden in ihrer Identität, ihrer Selbstbestimmung und in der Wahrnehmung ihrer Rechte gestärkt. Zudem unterstützen wir auch hier gezielt Frauen, um ihre
      Stellung in der Gesellschaft zu stärken. Organisiert wird das Mikrokreditsystem von den Kreditnehmenden selbst.</p>
    <p class="lead">Unser Mikrokreditprogramm startete 2011 mit einem Pilotprojekt in Timpah und wurde mittlerweile auf ein weiteres Dorf (Batampang) in Zentral-Kalimantan ausgeweitet. Die Vorhaben zur nachhaltigen Entwicklung unserer Dänischen Partnerorganisation Save
      the Orangutan (StO) in der Region sind mit unseren Projekten abgestimmt bzw. bauen auf diesen auf. Ein Pilotprojekt im Bereich Mikrokredite ist aktuell auch in Ost-Kalimantan geplant.</p>
    <div class="graphic"><img src="assets/images/family.jpg" /></div>
    <p class="lead">Unser Ansatz beruht auf dem TTLS System, nach dem jedes teilnehmende Mitglied einmalig eine Grundeinlage leistet. Zusätzlich fliessen monatliche Beiträge, die der jeweiligen Einkommenssituation gerecht werden, und freiwillige Beiträge in einen gemeinsamen
      Topf, aus dem die Kleinkredite vergeben werden. BOS Schweiz leistet lediglich eine Anschubfinanzierung. Die Verwaltung und die Vergabe der Gelder obliegen der Gruppe selbst, die damit einen hohen Grad an Selbstbestimmung geniesst. Die Identifikation
      der/des Einzelnen mit dem System ist hoch, genau wie die Rückzahlungsmoral. Als alternatives System kommen Kreditgenossenschaften in Frage, welche die finanziellen Einlagen für die Kreditnehmenden verwalten und diese in der Nutzung der Kredite trainieren.
      Oft sind die Kreditgenossenschaften aber für entlegene Dorfgemeinschaften nur schwer erreichbar.</p>
    <a href="mikrokredit.html">
      <button class="bos-button large info float-right space-left">mehr erfahren &raquo;</button>
    </a>
    <p class="lead">Verwaltung und Vergabe der Gelder obliegen der Gruppe selbst, die damit einen hohen Grad an Selbstbestimmung geniesst. Die Identifikation der/des Einzelnen mit dem System ist hoch, genau wie die Rückzahlungsmoral. Als alternatives System kommen Kreditgenossenschaften
      in Frage, welche die finanziellen Einlagen für die Kreditnehmenden verwalten und sie in deren Nutzung trainieren. Oft sind die Kreditgenossenschaften aber für entlegene Dorfgemeinschaften nur schwer erreichbar.</p>
    <div class="graphic"><img src="assets/images/man-bag.jpg" /></div>
    <p class="lead">Auch in den Baumschulen unsrer Aufforstungsprogramme und in den BOS Rettungsstationen schaffen wir vor Ort hunderte Arbeitsplätze. Befristete Einkommensquellen wie die Anstellung auf einer Ölpalmplantage, der Verkauf des eigenen Landes, oder lukrative
      illegale Aktivitäten wie Holzeinschlag und Wilderei werden dadurch unattraktiver. Die enge Zusammenarbeit mit den dörflichen Gemeinschaften in unmittelbarer Nähe unserer Rettungsstationen geht zudem mit einer wachsenden Wertschätzung der BOSF und
      ihrem Anliegen einher, d.h. mit einem steigenden lokalen Bewusstsein für den Arten-, den Orang-Utan-, den Natur- und den Umweltschutz.</p>
    <p class="lead">Falls Sie die Ausweitung unserer Entwicklungszusammenarbeit unterstützen möchten, spenden Sie jetzt oder werden Sie anderweitig aktiv!</p>
  </div>
  <div class="action-buttons text-center">
    <button class="bos-button">
      {% include svg_icon.html name="donate" %}
      <span>spende jetzt</span>
    </button>
    <button class="bos-button">
      {% include svg_icon.html name="aktiv" %}
      <span>werde aktiv</span>
    </button>
  </div>
</div>
<div class="svg dark">
  {% include leaves.svg id="" %}
</div>




<div class="section light">
  <div class="section-title">
    <h2>Gesundheitsprojekte</h2>
  </div>
  <div class="section-content">
    <p class="lead">Das Wohlbefinden und die körperliche Unversehrtheit der Orang-Utans und der lokalen Bevölkerung sind aufs Engste miteinander verbunden. Geht es den Orang-Utans gut, geht es in der Regel auch den Menschen gut und umgekehrt.</p>
    <p class="lead">Das gilt insbesondere für die verheerenden Waldbrände, die jedes Jahr aufs Neue nicht nur das Überleben der roten Waldmenschen gefährden, sondern auch die menschliche Gesundheit der ganzen Region bedrohen. Laut einer Studie der US-Universitäten Harvard
      und Columbia starben rund 100‘000 Menschen an den Folgen der Waldbrände von 2015. Hundertausende leiden jährlich in den vom Smog betroffenen Ländern Indonesien, Malaysia und Singapur an Atemwegserkrankungen. Auch Fehlgeburten werden mit den alljährlichen
      Torf- und Waldbränden in Verbindung gebracht.</p>
    <div class="graphic"><img src="assets/images/haze2015.jpg" /></div>
    <p class="lead">Zudem betreffen viele Krankheiten, die in der Region verbreitet sind (z.B. Malaria), Menschen wie Tiere. Hepatitis, Tuberkulose, Herpesviren oder verschiedene Parasiten (v.a. im Magen und Darm) werden aufgrund der engen genetischen Verwandtschaft
      zwischen Menschen und Orang-Utans übertragen.</p>
    <a href="gesundheit.html">
      <button class="bos-button large info float-right space-left">mehr erfahren &raquo;</button>
    </a>
    <p class="lead">Wir leisten deshalb Aufklärungsarbeit, unterstützen den Aufbau von kleinen lokalen Gesundheitszentren und kümmern uns um eine bessere Ausstattung mit medizinischem Gerät und Medikamenten. Projekte im Bereich Umwelterziehung (die Einführung von Müllentsorgung
      und -trennung oder eine Verbesserung der Frischwasserversorgung) zielen ebenfalls auf eine gesunde lokale Bevölkerung ab. Diese Massnahmen sind vor allem deshalb wichtig, weil die lokale Bevölkerung nur begrenzten Zugang zu einer verlässlichen Gesundheitsversorgung
      hat. Darunter leidet insbesondere die Versorgung von schwangeren Frauen, Neugeborenen und Kleinkindern.</p>
    <p class="lead">Wenn Sie unsere Vorhaben im Gesundheitsbereich unterstützen möchten spenden Sie jetzt oder abonnieren Sie unsere Printmedien. Wir halten Sie gerne über unsere Projekte auf dem Laufenden!</p>
  </div>
  <div class="action-buttons text-center">
    <button class="bos-button">
      {% include svg_icon.html name="donate" %}
      <span>spende jetzt</span>
    </button>
    <button class="bos-button">
      {% include svg_icon.html name="aktiv" %}
      <span>werde aktiv</span>
    </button>
  </div>
</div>
<div class="svg light">
  {% include leaves.svg id="" %}
</div>


<div class="section dark">
  <div class="section-title">
    <h2>Bildungsprojekte</h2>
  </div>
  <div class="section-content">
    <p class="lead">Unsere Bildungsprojekte können zwei Kategorien zugeteilt werden: 1.) Massnahmen in den Bereichen Umwelt-, Natur- und Artenschutz (z.B. Workshops zur Sensibilisierung der lokalen Bevölkerung für die ökologische Bedeutung der Orang-Utans oder für eine
      nachhaltige, ökonomische Nutzung des Regenwaldes) und 2.) Weiterbildungsprogramme zur Verbesserung der Einkommenssituation.</p>
    <div class="graphic"><img src="assets/images/school-blackboard.jpg" /></div>
    <a href="bildungsprojekte.html">
      <button class="bos-button large info float-right space-left">mehr erfahren &raquo;</button>
    </a>
    <p class="lead">Unsere Aktivitäten im Bildungsbereich richten sich v.a. an benachteiligte Gruppen, wie z.B. Angehörige der Dayak Wehea (eine Ethnie, die um ihre rechtliche Anerkennung und Landrechte kämpft). Ausserdem fördern wir gezielt junge Menschen, die zunehmend
      mit der Darstellung von materiellem Wohlstand in Kontakt kommt und als Reaktion darauf ihre eigene Kultur als rückständig betrachtet. Unsere Aktivitäten im Bereich Umweltbildung richten sich insbesondere an Menschen, die nahe oder in Orang-Utan-Verbreitungsgebieten
      leben. Sie sollten am besten schon im Kindes- oder Jugendalter für die ökologische Bedeutung der Orang-Utans, deren Wiederansiedelung, den Arten-, Natur- und Umweltschutz sensibilisiert werden.</p>
    <p class="lead">Bitte unterstützen Sie unsere Bildungsvorhaben mit einer Spende, starten Sie Ihr eigenes Fundraising und/oder Aufklärungsprojekt in ihrem privaten oder beruflichen Umfeld oder helfen Sie uns vor Ort als Voluntär/in.</p>
  </div>
  <div class="action-buttons text-center">
    <button class="bos-button">
      {% include svg_icon.html name="donate" %}
      <span>spende jetzt</span>
    </button>
    <button class="bos-button">
      {% include svg_icon.html name="aktiv" %}
      <span>werde aktiv</span>
    </button>
  </div>
</div>
<div class="svg dark">
  {% include leaves.svg id="" %}
</div>

<div class="section light">
  <div class="section-title">
    <h2>Zuverlässige Partner in Indonesien und der Schweiz</h2>
  </div>
  <div class="section-content">
    <p class="lead">Unsere Projekte planen und implementieren wir gemeinsam mit der ansässigen Bevölkerung und mit regionalen Partnerorganisationen wie BOSF/RHOI oder LPMK. Inhalt und Zielsetzung der Vorhaben orientieren sich an den Bedürfnissen der Menschen, die zunächst
      gemeinsam ermittelt werden. Auch den Projektkontext, den Umfang der Aktivitäten und die beteiligten Gruppen identifizieren die BOSF und die Dorfgemeinschaften zusammen. Im Anschluss an diese erste Planungs- und Entwicklungsphase erfolgt eine Finanzierungsanfrage
      an BOS Schweiz, inklusive einer Darstellung der Problematik und Ziele, des Projektdesigns, eines Zeitplans und Budgets. Sobald BOS Schweiz die finanziellen Mittel eingeworben hat, unterzeichnen die Projektpartner ein Memorandum of Understanding
      (MoU), das die Kooperation formal regelt. Vor Ort wird das Projekt dann durch die BOSF und die Dorfgemeinschaften umgesetzt, ggf. unter Beteiligung anderer Fachorganisationen vor Ort. Während der Implementierungsphase kontrolliert BOS Schweiz den
      Projektfortschritt auf Basis regelmässiger Berichterstattung und Projektbesuche, leistet fachliche Unterstützung, verwaltet die Mittel und berichtet an den/die Geldgeber und die Öffentlichkeit (PR). Zwischenanalysen können jederzeit zu einer Anpassung
      der Projektaktivitäten führen, die am Ende sowohl intern (durch die BOSF und BOS Schweiz) als auch extern evaluiert werden. Mit dem Abschlussbericht an den/die Geldgeber und gegebenenfalls dem Aufgleisen eines Folgeprojektes schliesst sich der Kreis.</p>
    <div class="graphic">
      <h4 class="text-center">Projektzyklus</h4><img src="assets/images/process_1.svg" />
    </div>
    <dl class="legend">
      <h5 class="text-center">Legende</h5>
      <dt>Projektplanung & Entwicklung</dt>
      <dd>Definition der Bedürfnisse, Ziele, Aktivitäten, beteiligten Gruppen etc., Finanzierungsanfrage an BOS Schweiz; Einwerben der Mittel durch BOS Schweiz; Unterzeichnung MoU </dd>
      <dt>Implementierung</dt>
      <dd>Umsetzung der Aktivitäten & Berichterstattung durch BOSF & Dorfgemeinschaften; Kontrolle, fachliche Unterstützung, Verwaltung der Mittel, Berichterstattung an den/die Geldgeber und PR durch BOS Schweiz; Zwischenanalysen & ggf. Anpassungen</dd>
      <dt>Abschluss & Evaluation</dt>
      <dd>Projektabschluss & Evaluation durch BOSF; Endevaluation und Endbericht an Geldgeber durch BOS Schweiz; externe Evaluation; ggf. Aufgleisen eines Folgeprojektes</dd>
    </dl>
    <p class="lead">Vor Ort und in der Schweiz arbeiten wir eng mit Partnern zusammen, die über jahrelange Erfahrung und Expertise in der Entwicklungszusammenarbeit in Indonesien verfügen. BOS Mitarbeiter werden vor Ort geschult und haben – genau wie wir von BOS Schweiz
      – über die Jahre wichtige Kompetenzen in den Bereichen Projektplanung, Umsetzung und Evaluation erworben. In der BOS Schweiz Geschäftsstelle in Zürich ist Dr. Elisabeth Labes (Leiterin für Internationale Projekte & Partner) Ihre Ansprechperson für
      den Bereich Nachhaltige Entwicklungszusammenarbeit.</p>
    <div class="graphic"><img src="assets/images/school-group.jpg" /></div>
    <p class="lead">Die notwendigen Kapazitäten und personellen Ressourcen sind aufgebaut, etablierte Abläufe in der Projektabwicklung formalisiert und gemeinsame Lernprozesse längst zur Grundlage zukünftiger Vorhaben geworden. Einer Ausweitung unserer Entwicklungszusammenarbeit
      steht somit nichts im Wege!</p>
    <div class="graphic"></div>
    <h4 class="text-center">Zeitstrahl Entwicklung Com Dev Aktivitäten</h4>
    <div class="row clearfix show-for-large-up">
      <div class="large-6 columns">
        <h5 class="timeline-location">Zentralkalimantan</h5>
      </div>
      <div class="large-6 columns">
        <h5 class="timeline-location">Ostkalimantan</h5>
      </div>
    </div>
  </div>
  <div class="section-content dark clearfix" id="cd-timeline">
    {% for year in site.data.dates %}
    <div class="cd-year-block">
      <div class="cd-timeline-block">
        <div class="cd-timeline-img"><span class="year">{{year.year}}</span></div>
        <div class="cd-timeline-content empty"></div>
      </div>
    </div>
    {% for event in year.events %}
    <div class="cd-timeline-block">
      <div class="cd-timeline-img dot"></div>
      <div class="cd-timeline-content {{event.location | downcase}}">
        <p class="hide-for-large location">{{event.location}}</p>
        <p>{{event.event}}</p>
      </div>
    </div>
    {% endfor %} {% endfor %}
  </div>
  <div class="section-content">
    <div class="action-buttons text-center clearfix">
      <a href="#"></a>
      <button class="bos-button info float-center space-bottom">share</button>
    </div>
    <p class="lead">Unsere Entwicklungszusammenarbeit vor Ort finanzieren wir über Stiftungs- und Spendengelder. Über die Jahre haben wir nicht nur erhebliche Summen für Vorhaben in diesem Bereich eingeworben, sondern auch unseren vertrauenswürdigen Umgang mit den Mitteln
      bewiesen. Bitte spenden auch Sie oder werden Sie anderweitig aktiv!</p>
  </div>
  <div class="action-buttons text-center">
    <button class="bos-button">
      {% include svg_icon.html name="donate" %}
      <span>spende jetzt</span>
    </button>

  </div>
</div>
<div class="svg light">
  {% include leaves.svg id="" %}
</div>










<div class="section dark">
  <div class="section-title">
    <h2>Vertiefte Informationen</h2>
  </div>
  <div class="section-content">
    <p class="lead">Wenn Sie auf dem Laufenden gehalten werden wollen über unsere Projektarbeit vor Ort, registrieren Sie sich hier mit Ihrer E-Mail Adresse. Sie bekommen dann unsere Orang-Utan News und Mailings zugestellt.</p>
  </div>
  <div class="action-buttons text-center">
    <button class="bos-button space-left">
      {% include svg_icon.html name="signup" %}
      <span>updates erhalten</span>
    </button>
    <button class="bos-button">
      {% include svg_icon.html name="aktiv" %}
      <span>werde aktiv</span>
    </button>
  </div>
</div>
<div class="svg dark">
  {% include leaves.svg id="" %}

</div>


{% include down %} {% include menu %}
