---
layout: default
title: Mawas Schutzgebiet
---
{% include leaves.svg id="leaves" %}
<div class="section light">
  <div class="section-title">
    <h2>Das Mawas Schutzgebiet</h2>
  </div>
  <div class="section-content">
    <p class="lead">Das Mawas Schutzgebiet ist ein einzigartiges Ökosystem, das nicht nur tausenden, teils stark bedrohten Arten ein Zuhause bietet. Es beheimatet auch eine der weltweit grössten, wild lebenden Orang-Utan Populationen mit rund 3‘000 Tieren. Die Torfmoorböden
      des Schutzgebietes haben eine Sumpftiefe von bis zu 14 Meter. Sie speichern rund 1,2 Gigatonnen Kohlendioxid, die bei einer Rodung oder Entwässerung des Torfmoors freigesetzt werden.</p>
    <div class="graphic"><img src="assets/images/mawas.jpg" /></div>
    <p class="lead">Ende der 90iger Jahre initiierte der indonesische Diktator Suharto das so genannte Mega Rice Project, von dem auch die Mawas Region betroffen war. Landesweit wurden über 1 Mio. Hektar Torfmoorregenwald abgeholzt und alleine in Borneo rund 4‘000 Kilometer
      Entwässerungskanäle gegraben, um riesige Reisfelder anzulegen.</p>
    <p class="lead">Das Projekt verfehlte sein Ziel, die Lebensmittelknappheit zu bekämpfen. Im Laufe der letzten 20 Jahre haben die Kanäle die einst feuchten Torfmoorböden weitgehend ausgetrocknet und so den natürlichen Brandschutz des Bodens zerstört. Heute ist der
      Mawas Regenwald deshalb sehr anfällig für Brände.</p>
    <div class="graphic"><img src="assets/images/canal.jpg" /></div>
    <p class="lead">Im Rahmen des SOS Borneo Projektes verschliessen wir gemeinsam mit der lokalen Bevölkerung die ehemaligen Entwässerungskanäle, ziehen und pflanzen Setzlinge, um Waldgebiete aufzuforsten und bekämpfen die Torf- und Waldbrände. Weitere Informationen
      zu diesem Projekt gibt es unter der Rubrik Regenwaldschutz. Unterstützung erhalten die dörflichen Gemeinschaften der Mawas Region zudem im Rahmen unseres Mikrokreditprogramms.</p>
    <a href="/">
      <button class="bos-button large info float-left space-right">&laquo; zurück</button>
    </a>
  </div>
</div>
<div class="svg light">
  {% include leaves.svg id="" %}
</div>
{% include down %}
{% include menu %}
