<footer class="clearfix">
    <div class="footer-left medium-4 columns float-left">
      <h4>Links</h4>
      <ul>
        <li><a href="http://bos-schweiz.ch" target="_blank">BOS Website</a></li>
        <li><a href="http://www.bos-schweiz.ch/de/ueber-bos/kontakt.htm" target="_blank">Impressum</a></li>
      </ul>
    </div>
<div class="footer-middle medium-4 columns float-left">

  <h4>Kontakt</h4>
  <p>
    BOS Schweiz<br>

    Zweierstr. 38a<br>

    8004 Zürich
  </p>
  <p>
  <a href="mailto:info@bos-schweiz.ch">
    info@bos-schweiz.ch
  </a></p>


</div>
    <div class="footer-right medium-4 columns float-left">

<h4>Spenden</h4>

<h5>BOS Schweiz - Spendekonto</h5>
<p><strong>PC CHF:</strong> 85-651634-3<br> 
<strong>IBAN:</strong> CH06 0900 0000 8565 1634 3 <br>
<strong>BIC:</strong> POFICHBEXXX</p>
<h5>Einzahlungsschein</h5>
<p><a target="_blank" href="http://www.bos-schweiz.ch/Downloads/pdf/Sonstiges/Einzahlungsschein_3.pdf"><span>Herunterladen</span></a>&nbsp;oder hier&nbsp;<a href="mailto:support@bos-schweiz.ch?subject=Einzahlungsschein+bestellen"><span>bestellen</span></a></p></div>

    </div>
</footer>
