<header class="clearfix">
  <nav class="top-nav">
    <div class="top-nav-left">
      <div  class="float-left">
      <a href="http://bos-schweiz.ch"><img src="assets/images/bos-web-logo-200.png" width="120" alt="BOS Schweiz" title="BOS Schweiz"></a>
      </div>
      <div id="logo-text" class="float-left hide-for-small-only">
        BORNEO <BR>ORANGUTAN <BR>SURVIVAL<BR> SCHWEIZ
      </div>
    </div>

    <div class="mobile-menu-button show-for-small-only">
      <ul class="menu">

          <li><a href="#" id="mobile-menu-toggler"><svg><use xlink:href='#menu'></use></svg> <Br>Menu</a></li>

      </ul>
    </div>



     <div class="top-nav-center">
    <ul class="menu expanded">
           {% for link in site.data.biglinks %}
              <li><a href="{{link.link}}"><svg><use xlink:href='#{{link.icon}}'></use></svg> <Br>{{link.name}}</a></li>
          {% endfor %}
          </ul>
    </div>

        <div class="top-nav-right hide-for-small-only">
      <ul class="menu">
          <li><a href="http://www.bos-schweiz.ch/de/search.htm"><svg><use xlink:href='#search'></use></svg> <Br>Suchen</a></li>
          <li><a href="#" id="main-menu-toggler"><svg><use xlink:href='#menu'></use></svg> <Br>Menu</a></li>
      </ul>
    </div>
  </nav>
</header>
